<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title> <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>

<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),"/" %>
    <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary", id: "sign_up_btn" %>
  </div>

  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer'  %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>

</html>